.form {
  max-width: 440px;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  &__block {
    max-width: 570px;
    min-height: 750px;
    background: #1c1c1c;
    padding: 60px 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.form__input,
.form__button,
.form__text-area {
  width: 100%;
  width: 440px;
  height: 55px;
  padding: 20px;

  background-color: #111;
  color: #ffffff;
  overflow: hidden;

  font-size: 16px;
  font-weight: 400;

  &:hover {
    background-color: #c09a64;
  }
}

.form {
  &__button {
    text-transform: uppercase;
  }

  &__error {
    color: #c09a64;
    font-size: 17px;
    font-weight: 400;
  }
}


//-----------------------media--------------------

@media (max-width: 1400px) {
  .form__block {
    padding: 50px 40px;
  }
}

@media (max-width: 1200px) {
  .form__input,
  .form__button,
  .form__text-area {
    width: 350px;
  }
}

@media (max-width: 576px) {
  .form__block {
    padding: 40px 30px;
  }
}

@media (max-width: 450px) {
  .form__input,
  .form__button,
  .form__text-area {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .form__input,
  .form__button,
  .form__text-area {
    width: 100%;
  }
}
