.portfolio {
  width: 100%;
  padding-bottom: 100px;
  margin-bottom: 100px;
  position: relative;

  .swiper {
    width: 100%;
    position: static;

    &-wrapper {
      position: static;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 400px;
  }

  &__photo {
    max-width: 370px;
    height: 470px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 992px) {
  .portfolio__photo {
    max-width: 400px;
    height: 520px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    margin-bottom: 80px;

    &__photo {
      max-width: 510px;
      height: 600px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 480px) {
  .portfolio {
    margin-bottom: 50px;
    padding-bottom: 70px;

    &__photo {
      height: 470px;
    }
  }
}

@media (max-width: 320px) {
  .portfolio {
    &__photo {
      height: 430px;
    }
  }
}
