.button {
  padding: 18px 20px;
  width: max-content;

  font-family: PT Sans;
  font-weight: 700;
  color: $white;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  white-space: nowrap;

  cursor: pointer;

  &_type-primary {
    background-color: $light-brown;
    opacity: 0.8;
    &:hover {
      transition: 0.3s;
      opacity: 1;
    }
  }

  &_type-secondary {
    background-color: transparent;
    border: 1px solid #6c6c6c;
    &:hover {
      transition: 0.3s;
      background-color: $light-brown;
    }
  }
}
