.footer {
  width: 100%;
  background: linear-gradient(0deg, #ffecd1 0%, #c09a64 100%);
  z-index: -3;
  margin-top: 50px;

  &__main {
    padding: 100px 135px;
    flex-direction: row;
    justify-content: space-between;
  }
}
