.gallery {
  gap: 50px;

  &__block {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }

  .button {
    margin-bottom: 100px;
  }

  &__photo {
    max-width: 370px;
    height: 470px;

    transition: all 0.5s ease 0s;

    &:hover {
      transform: scale(1.02);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__skeleton {
    background-color: $white;
    padding: 50px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    opacity: 0.8;

    &:hover {
      transform: scale(1);
    }

    .text {
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      color: $grey;
    }
  }

  &__title {
    font-family: Caveat, cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    color: $light-brown;
    text-align: center;

    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.gallery {
  &__modal {
    width: 100%;
    height: 100%;
    background-color: $light-black;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__modal-content {
    max-width: 1440px;
    padding: 0 135px;
    margin: 0 auto;
    height: 670px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__modal-photo {
    position: relative;
    max-width: 445px;
    height: 670px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__close-icon {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 30px;
    right: 30px;
    color: $light-brown;

    &:hover {
      transition: 0.3s;
      color: $white;
    }
  }

  &__prev-arrow,
  &__next-arrow {
    width: 40px;
    height: 40px;
    color: $light-brown;

    display: flex;
    align-items: center;
  }

  &__prev-arrow:hover,
  &__next-arrow:hover {
    color: $white;
  }
}

//------------------media---------------------

@media (max-width: 1200px) {
  .gallery {
    gap: 50px;

    &__block {
      display: grid;
      gap: 35px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__modal-content {
      padding: 0 30px;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    &__modal {
      z-index: 11;
    }

    &__photo {
      height: 400px;
    }
  }
}

@media (max-width: 700px) {
  .gallery {
    &__block {
      grid-template-columns: 1fr;
    }

    &__photo {
      height: 470px;
    }

    &__modal-photo {
      max-width: 370px;
      height: 570px;
    }
  }
}

@media (max-width: 576px) {
  .gallery {
    &__modal-content {
      width: 100%;
      height: 100%;
      padding: 0 10px;

      position: relative;
    }

    &__modal-photo {
      max-width: 100%;
      width: 100%;
      height: 100vh;

      position: absolute;

      img {
        border-radius: 0px;
      }
    }

    &__next-arrow,
    &__prev-arrow {
      z-index: 3;
      position: absolute;
    }

    &__close-icon,
    &__next-arrow {
      right: 10px;
    }
    &__prev-arrow {
      left: 10px;
    }
  }
}
