.header {
  width: 100%;
  min-height: 100px;

  &__container {
    padding: 50px 70px;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 69px;
  }

  &__link {
    font-family: Caveat, cursive;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    &:hover {
      color: #c09a64;
      transition: 0.3s;
    }
  }
}

.logo {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;

  font-family: Caveat, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  white-space: nowrap;

  &:hover {
    color: #c09a64;
    transition: 0.3s;
  }
}

//------------menu--------------

.mobile_btn {
  display: none;
}

//-----------media---------------
@media (max-width: 992px) {
  .header {
    &__navigation {
      gap: 30px;
    }

    &__container {
      padding: 50px 30px;
    }

    &__link {
      font-size: 16px;
    }
  }
}

//----------menu-burger-------------

@media (max-width: 768px) {
  .header {
    &__container {
      position: relative;
    }

    &__navigation {
      width: 100%;
      height: 100vh;

      display: flex;
      flex-direction: column;
      justify-content: center;

      position: fixed;
      left: -100%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;

      background-color: #1c1c1c;
      transition: left 1s;
    }

    .socials {
      margin-right: 100px;
    }

    .mobile_btn {
      display: block;

      position: absolute;
      right: 30px;
      top: 55px;
      cursor: pointer;
      z-index: 10;

      &:hover {
        transition: 0.3s;
        color: #c09a64;
      }
    }
  }

  .active-menu {
    left: 0;
  }
}

@media (max-width: 576px) {
  .header {
    &__container {
      padding: 50px 20px;

      flex-direction: column;
      align-items: flex-start;
    }

    .mobile_btn {
      right: 20px;
    }
  }
}
