.home {
  width: 100%;
  height: 760px;

  display: flex;
  @include adaptiveValue("gap", 100, 30, 1);

  &__image {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__block {
    width: 50%;
    align-self: center;
    min-height: 400px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-family: Playfair Display, sans-serif;
    font-weight: 700;
    color: $white;
  }

  &__studio {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-weight: 700;
    opacity: 0.8;
  }

  .divider {
    background-color: $white;
  }

  &__title {
    text-align: center;
    @include adaptiveValue("font-size", 80, 50, 1);
  }

  &__subtitle {
    @include adaptiveValue("font-size", 36, 30, 1);
    @include adaptiveValue("line-height", 54, 40, 1);
    letter-spacing: 1px;
    text-align: center;
  }
}

//-----------------media--------------
@media (max-width: 576px) {
  .home {
    height: fit-content;

    flex-direction: column;
    gap: 30px;

    &__image {
      width: 100%;
      height: 470px;
    }

    &__block {
      width: 100%;
      padding: 20px;
      justify-content: center;
    }

    &__studio {
      margin-bottom: 0px;
    }
  }
}
