.why-us__list {
  min-height: 450px;

  display: flex;
  justify-content: space-between;
  gap: 30px;

  .card {
    max-width: 370px;
    padding: 50px 30px;
    max-height: 490px;

    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 23px;

    &__text {
      min-width: 200px;
      line-height: 22px;
    }

    .card-preferences__item {
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.1px;

      &:before {
        content: "";
        width: 7px;
        height: 7px;
        margin-bottom: 3px;
        margin-right: 10px;

        display: inline-block;
        border-radius: 50%;
        background-color: $light-brown;
      }
    }

    .button {
      display: none;
    }
  }
}

//---------------media----------------

@media (max-width: 1300px) {
  .why-us__list {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);

    .card:nth-child(3) {
      grid-column: 1 / span 2;
      justify-self: center;
    }

    .card {
      max-width: 500px;
    }
  }
}

@media (max-width: 992px) {
  .why-us__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .card {
      justify-self: center;
      max-width: 500px;
      max-height: 100%;
    }
  }
}

@media (max-width: 480px) {
  .why-us {
    padding: 0;

    &__list {
      gap: 20px;
    }

    .card {
      padding: 30px 20px;
    }
  }
}
